<div class="barra001" id="barra01" data-aos="fade-down">
    <div style="width: 40%;">
      <img
        src="../../assets/elianeadvogada/images/whatsapp-32.png"
        alt=""
        style="float:left;"
      />
      <p style="float:left; margin: 0.3em 0.5em 0.5em 0.5em;">(11) 99863-5857</p>
    </div>
    <div style="float: right; width: 60%;">
      <section>
        <p class="barra002title02 barra002title02-mb">
          Advocacia: Rua Patativa, 168 - Cidade AE Carvalho - São Paulo/SP
        </p>
      </section>
    </div>
  </div>
  
  <div class="navbarprincipal" id="divnavbarprincipalid" data-aos="fade-up">
    <nav class="nav-eia" id="navbarprincipal">
      <div class="nav-wrapper-eia nav-wrapper-eia-mb">
        <a href="#" class="brand-logo-eia" id="brandlogoeiaid"
          >Eliane Ikeno Advogada</a
        >
  
        <div id="nav-icon1" onclick="menuMobile();">
          <span></span>
          <span></span>
          <span></span>
        </div>
  
        <ul id="nav-mobile" class="right-eia hide-on-med-and-down-eia">
          <li><a href="/criminal">Criminal</a></li>
          <li><a href="/familia/#" class="item-menu-active-wide">Direito Familia</a></li>
          <li><a href="/familia/#a-doutora">A Doutora</a></li>
          <li><a href="/familia/#os-depoimentos">Depoimentos</a></li>
          <li><a href="/familia/#o-contato">Contato</a></li>
        </ul>
      </div>
      <div id="myLinks-eia" data-aos="fade-down">
        <ul style="list-style-type: none;">
          <li class="itensMenuMobileli">
            <a href="/criminal" class="itensMenuMobile itensMenuMobile-mb"
              >Criminal</a
            >
          </li>
          <li class="itensMenuMobileli">
            <a href="/familia/#a-doutora" class="itensMenuMobile itensMenuMobile-mb"
              >A Doutora</a
            >
          </li>
          <li class="itensMenuMobileli">
            <a href="/familia/#os-depoimentos" class="itensMenuMobile itensMenuMobile-mb"
              >Depoimentos</a
            >
          </li>
          <li class="itensMenuMobileli">
            <a href="/familia/#o-contato" class="itensMenuMobile itensMenuMobile-mb"
              >Contato</a
            >
          </li>
        </ul>
      </div>
    </nav>
  </div>
  
  <div
    class="setorimagem"
    style='background-image: url("../../assets/elianeadvogada/images/architecture-2602324_1280.jpg");'
    data-img-width="1024"
    data-img-height="683"
  >
    <div
      style="position: absolute; margin-top: 10rem; width: 100%; text-align: center; padding-left: 3rem; padding-right: 3rem;"
      data-aos="fade-up"
    ><section>
      <p class="barra002title01grande barra002title01grande-mb">
        Advogada Familia
      </p>
      <p class="barra002title01pequeno barra002title01pequeno-mb">
        Especialista em Direito Família e Sucessões, Cível e Defesa em Violência Doméstica
      </p>
    </section>
    </div>
  </div>
  
  <div class="barra003" data-aos="fade-up">
    <p class="barra004-cabecalho">Precisando de assistência jurídica?</p>
    <img
      src="../assets/elianeadvogada/images/mf-law.png"
      style="margin-left: auto; margin-right: auto; margin-bottom: 2rem; display: block;"
    />
    <div class="middle-eliane middle-eliane-mb">
      <a
        target="_blank"
        href="https://api.whatsapp.com/send?phone=5511988635857"
        class="btn-eliane btn-eliane-mb btn1-eliane"
        >CLIQUE PARA ENTRAR EM CONTATO</a
      >
    </div>
    <div style="margin: 0 3rem;">
      <p class="texto003">e consulte com Especialista: (11) 98863-5857</p>
    </div>
  </div>
  
  <div class="barra00402">
    <p class="barra00402title">Atuação</p>
    <div class="barrinhabranca"></div>
    <br />
    <section class="itembarra00402div01 itembarra00402div01-mb">
      <div class="itembarra00402div02 itembarra00402div02-mb" data-aos="fade-up">
        <img
          src="../assets/elianeadvogada/images/icons8-aprovação-50.png"
          class="imgcheckbarra004 imgcheckbarra004-mb"
        />
        <p class="itembarra00402 itembarra00402-mb">
            Inventário
        </p>
      </div>
      <div class="itembarra00402div02 itembarra00402div02-mb" data-aos="fade-up">
        <img
          src="../assets/elianeadvogada/images/icons8-aprovação-50.png"
          class="imgcheckbarra004 imgcheckbarra004-mb"
        />
        <p class="itembarra00402 itembarra00402-mb">
            Planejamento Familiar e Sucessório
        </p>
      </div>
      <div class="itembarra00402div02 itembarra00402div02-mb" data-aos="fade-up">
        <img
          src="../assets/elianeadvogada/images/icons8-aprovação-50.png"
          class="imgcheckbarra004 imgcheckbarra004-mb"
        />
        <p class="itembarra00402 itembarra00402-mb">
            Divórcio
        </p>
      </div>
      <div class="itembarra00402div02 itembarra00402div02-mb" data-aos="fade-up">
        <img
          src="../assets/elianeadvogada/images/icons8-aprovação-50.png"
          class="imgcheckbarra004 imgcheckbarra004-mb"
        />
        <p class="itembarra00402 itembarra00402-mb">
            Pensão Alimentícia
        </p>
      </div>
      <div class="itembarra00402div02 itembarra00402div02-mb" data-aos="fade-up">
        <img
          src="../assets/elianeadvogada/images/icons8-aprovação-50.png"
          class="imgcheckbarra004 imgcheckbarra004-mb"
        />
        <p class="itembarra00402 itembarra00402-mb">
            Defesa em Violência Doméstica
        </p>
      </div>
      <div class="itembarra00402div02 itembarra00402div02-mb" data-aos="fade-up">
        <img
          src="../assets/elianeadvogada/images/icons8-aprovação-50.png"
          class="imgcheckbarra004 imgcheckbarra004-mb"
        />
        <p class="itembarra00402 itembarra00402-mb">
            Medida Cautelar de Arrolamento de Bens
        </p>
      </div>
      <div class="itembarra00402div02 itembarra00402div02-mb" data-aos="fade-up">
        <img
          src="../assets/elianeadvogada/images/icons8-aprovação-50.png"
          class="imgcheckbarra004 imgcheckbarra004-mb"
        />
        <p class="itembarra00402 itembarra00402-mb">
            Investigação de Paternidade
        </p>
      </div>
      <div class="itembarra00402div02 itembarra00402div02-mb" data-aos="fade-up">
        <img
          src="../assets/elianeadvogada/images/icons8-aprovação-50.png"
          class="imgcheckbarra004 imgcheckbarra004-mb"
        />
        <p class="itembarra00402 itembarra00402-mb">
            Interdição
        </p>
      </div>
      <div class="itembarra00402div02 itembarra00402div02-mb" data-aos="fade-up">
        <img
          src="../assets/elianeadvogada/images/icons8-aprovação-50.png"
          class="imgcheckbarra004 imgcheckbarra004-mb"
        />
        <p class="itembarra00402 itembarra00402-mb">
            Guarda e Regulamentação de Visita de Menores
        </p>
      </div>
      <div class="itembarra00402div02 itembarra00402div02-mb" data-aos="fade-up">
        <img
          src="../assets/elianeadvogada/images/icons8-aprovação-50.png"
          class="imgcheckbarra004 imgcheckbarra004-mb"
        />
        <p class="itembarra00402 itembarra00402-mb">
            Doação
        </p>
      </div>
      <div class="itembarra00402div02 itembarra00402div02-mb" data-aos="fade-up">
        <img
          src="../assets/elianeadvogada/images/icons8-aprovação-50.png"
          class="imgcheckbarra004 imgcheckbarra004-mb"
        />
        <p class="itembarra00402 itembarra00402-mb">
            Casamento (Regime de bens e Pacto Antenupcial)
        </p>
      </div>
      <div class="itembarra00402div02 itembarra00402div02-mb" data-aos="fade-up">
        <img
          src="../assets/elianeadvogada/images/icons8-aprovação-50.png"
          class="imgcheckbarra004 imgcheckbarra004-mb"
        />
        <p class="itembarra00402 itembarra00402-mb">
          Acompanhamento em Fórum e audiências
        </p>
      </div>
      <div class="itembarra00402div02 itembarra00402div02-mb" data-aos="fade-up">
        <img
          src="../assets/elianeadvogada/images/icons8-aprovação-50.png"
          class="imgcheckbarra004 imgcheckbarra004-mb"
        />
        <p class="itembarra00402 itembarra00402-mb">
          Recursos, Defesas, Sustentação Oral
        </p>
      </div>
    </section>
  </div>
  
  <div id="a-doutora" class="barra005 barra005-mb">
    <p class="barra00503title">Comprometimento, Transparência e Honestidade</p>
    <div class="barrinhavermelha"></div>
    <br /><br />
    <div class="barra005div-esq barra005div-esq-mb" data-aos="fade-up">
      <img src="../assets/elianeadvogada/images/drEliane.png" /><br />
      <p class="itembarra005" style="margin-top: 1em;">
        <b>Dra. Eliane Ikeno</b><br />
        OAB/SP Nº 138.439
      </p>
    </div>
    <div class="barra005div-direi barra005div-direi-mb" data-aos="fade-up">
      <section>
        <p class="itembarra005 itembarra005-mb">
            Atuando com causas familiares, a Dra. Eliane é especializada em causas de Direito de Família e Sucessões atendendo com excelência as necessidades dos clientes.<br> 
            <br> 
            Devido a sua especialização tem obtido grande sucesso nas causas em 1ª instância, 2ª instância dos Estados e Tribunais Superiores.
        </p>
        <p class="itembarra005 itembarra005-mb" style="margin-top: 1.3em;">
          Exercendo há mais de 20 anos no mercado, se preza pelo atendimento
          individualizado e personalizado, elaborando as melhores estratégias de
          defesa para seus clientes, tendo como destaque a experiência,
          transparência e o comprometimento.
        </p>
      </section>
    </div>
  </div>
  
  <div id="os-depoimentos" class="barra006 barra006-mb"
  style='background-image: url("../../assets/elianeadvogada/images/fivestar.jpg");'
  data-img-width="1024"
data-img-height="683">
    <p class="barra00402title">Depoimentos</p>
    <div class="barrinhabranca"></div>
    <br />
  
    <!-- inicio carrossel-->
    <div class="container-eliane" data-aos="fade-up">
      <div
        id="myCarousel"
        class="carousel slide"
        data-ride="carousel"
        data-interval="7000"
      >
        <!-- Wrapper for slides -->
        <div id="os-depoimentos" class="carousel-inner">
          <div class="item active">
            <div style="width: fit-content; display:inline-block">
              <section class="barra006divdepoim">
                <p class="barra006depoimento barra006depoimento-mb">
                  "O meu caso fui agredida na rua por um homem que bateu no meu
                  carro. Nenhum advogado queria pegar minha causa, achando que era
                  perda de tempo e que não ia dar em nada,mas a doutora Eliane
                  acreditou em mim, me orientou, prestou toda assistência
                  necessária e a audiência já está até marcada. Ótimo trabalhar
                  com pessoa honesta e com compromisso com o cliente. Super
                  recomendo.."<br /><br />
                </p>
  
                <a
                  target="_blank"
                  class="barra006depoimentosaibamais"
                  href="https://www.google.com/search?hl=pt-BR&gl=br&q=Eliane+Ikeno+Advogada+-+R.+Patativa,+168+-+A.+E.+Carvalho,+S%C3%A3o+Paulo+-+SP,+08220-010&ludocid=14254290789480736354&lsig=AB86z5VdZkfREy-niCeC3zx67UZ5#lrd=0x94ce674ed0daa283:0xc5d169f3581f2662,1"
                  >Saiba mais...</a
                >
              </section>
            </div>
          </div>
  
          <div class="item">
            <div style="width: fit-content; display:inline-block">
              <section class="barra006divdepoim">
                <p class="barra006depoimento barra006depoimento-mb">
                  "..."Eu acredito que foi uma ação de Deus na minha vida".um dos
                  meus amigos pediu para q ela me ajudasse, Em fim,ela me ajudou
                  ,pegou o meu caso que estava com o processo parado a alguns dias
                  e então pouco tempo me tirou de trás das grades.Ela é muito boa
                  no que faz..."<br /><br />
                </p>
  
                <a
                  target="_blank"
                  class="barra006depoimentosaibamais"
                  href="https://www.google.com/search?hl=pt-BR&gl=br&q=Eliane+Ikeno+Advogada+-+R.+Patativa,+168+-+A.+E.+Carvalho,+S%C3%A3o+Paulo+-+SP,+08220-010&ludocid=14254290789480736354&lsig=AB86z5VdZkfREy-niCeC3zx67UZ5#lrd=0x94ce674ed0daa283:0xc5d169f3581f2662,1"
                  >Saiba mais...</a
                >
              </section>
            </div>
          </div>
  
          <div class="item">
            <div style="width: fit-content; display:inline-block">
              <section class="barra006divdepoim">
                <p class="barra006depoimento barra006depoimento-mb">
                  "Maravilhosa, melhor advogada do mundo sempre educada simpática
                  sempre pronta ajudar melhor profissional que já vi nesse arranjo
                  luta pelo caso não se confirma com não ela corre atrás e da
                  solução"...<br /><br />
                </p>
                <a
                  target="_blank"
                  class="barra006depoimentosaibamais"
                  href="https://www.google.com/search?hl=pt-BR&gl=br&q=Eliane+Ikeno+Advogada+-+R.+Patativa,+168+-+A.+E.+Carvalho,+S%C3%A3o+Paulo+-+SP,+08220-010&ludocid=14254290789480736354&lsig=AB86z5VdZkfREy-niCeC3zx67UZ5#lrd=0x94ce674ed0daa283:0xc5d169f3581f2662,1"
                  >Saiba mais...</a
                >
              </section>
            </div>
          </div>
  
          <div class="item">
            <div style="width: fit-content; display:inline-block">
              <section class="barra006divdepoim">
                <p class="barra006depoimento barra006depoimento-mb">
                  "Realmente uma excelente profissional, advogada 5 estrelas,
                  compromissada e dedicada, além de ter algo que pouco se vê hoje,
                  a HONESTIDADE E COMPETENCIA. Atende qualquer um sem distinção de
                  condições financeira, e quando abraça um processo, se debruça
                  nele e estuda todas as possibilidades de êxito.<br /><br />
                  Acompanhei um caso de EXECUÇÃO PENAL, família desesperada que já
                  tinha sido enganada por advogado desonesto e incompetente que
                  prometeu, ardilosamente, sucesso na soltura de cliente, porém
                  sem êxito.<br />
                </p>
  
                <a
                  target="_blank"
                  class="barra006depoimentosaibamais"
                  href="https://www.google.com/search?hl=pt-BR&gl=br&q=Eliane+Ikeno+Advogada+-+R.+Patativa,+168+-+A.+E.+Carvalho,+S%C3%A3o+Paulo+-+SP,+08220-010&ludocid=14254290789480736354&lsig=AB86z5VdZkfREy-niCeC3zx67UZ5#lrd=0x94ce674ed0daa283:0xc5d169f3581f2662,1"
                  >Saiba mais...</a
                >
              </section>
            </div>
          </div>
        </div>
  
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <!-- fim carrossel -->
  </div>
  
  <div class="barra007 barra007-mb" data-aos="fade-up">
    <div class="barra007div01 barra007div01-mb">
      <p class="barra007title barra007title-mb">
        Precisando de Assistência Jurídica?
      </p>
    </div>
    <div class="barra007div02 barra007div02-mb">
      <a
        target="_blank"
        href="https://api.whatsapp.com/send?phone=5511988635857"
        class="btn-eliane02 btn-eliane02-mb btn1-eliane02"
        >CLIQUE PARA ENTRAR EM CONTATO</a
      >
    </div>
  </div>
  
  <div id="o-contato" class="barra008 barra008-mb">
    <p class="barra00503title">Contato</p>
    <div class="barrinhavermelha"></div>
    <br /><br />
    <div class="barra008div01 barra008div01-mb" data-aos="fade-up">
      <section>
        <p class="barra008text01 barra008text01-mb">
          <b>Dra. Eliane Ikeno Advogada</b><br />
          OAB/SP: Nº 138.439
        </p>
        <br />
        <p class="barra008text01 barra008text01-mb">
          E-mail: eliane.ikeno@gmail.com<br />
          Cel/Whatsapp: (11) 99863-5857
        </p>
      </section>
    </div>
    <div class="barra008div02 barra008div02-mb" data-aos="fade-up">
      <section>
        <p class="barra008text01 barra008text01-mb">
          <b>Escritório Zona Leste</b>
        </p>
        <br />
        <p class="barra008text01 barra008text01-mb">
          Rua Patativa, 168<br />
          Cid. A. E. Carvalho - São Paulo/SP<br />
          Próximo ao Metrô Arthur Alvim
        </p>
      </section>
    </div>
  </div>
  
  <div class="barra009">
    <section>
      <p class="barra009title">Desenvolvido por Mario Ikeno Junior</p>
    </section>
  </div>
  
