<div style="display: inline-block; text-align: center;">
   <div data-aos="fade-up" style="width: auto;  display: inline-block;" >
      <h2>Dra. Eliane Ikeno</h2>
      <img src="../assets/elianeadvogada/images/drEliane.png" alt="Dra. Eliane Ikeno" style="margin-right: auto; margin-left:auto;">
      <h3>OAB 138439/SP</h3>
   </div>
   <div data-aos="fade-up" style="width: auto; max-width: 30em; display: inline-block; margin-right: 1em; margin-left: 2em;">
      <p>Dra. Eliane Ikeno, graduada pela Universidade de Mogi das Cruzes é especializada em causas de Direito de Família Execução Criminal. </p>

      <p>Atendem com excelência as necessidades dos clientes. </p>

      <p>Devido a sua especialização tem obtido grande sucesso nas causas em 1ª instância, 2ª instância dos Estados e Tribunais Superiores.</p>
   </div>
</div>