.barra001 {
  display: flex;
  position: absolute;
  margin: 0 auto;
  padding-top: 0.5em;
  height: 3em;
  width: 100%;
  background-color: #161414e1;
  opacity: 0.8;
  z-index: 1;
  padding-left: 3rem;
  vertical-align: middle;
  color: #fff;
  font-size: medium;
}
.barra002title02 {
  float: right;
  margin: 0.3em 3em 0.5em 0.5em;
}
.barra002title01grande {
  color: #fff;
  font-size: 5rem;
  font-weight: bolder;
}
.barra002title01pequeno {
  color: #fff;
  font-size: 1.5rem;
}

#barra01 {
  display: block;
}
.right-eia {
  float: right !important;
}

#nav-mobile a:hover {
  text-decoration: none;
  font-weight: bolder;
  color: #c34b4c;
}

.item-menu-active-wide {
  font-weight: bolder;
  color: #c34b4c;
}

@media screen and (max-width: 500px) {
  #barra01 {
    display: none;
  }

  .itensMenuMobile-mb {
    font-size: 1.1rem;
  }

  #nav-icon1 {
    display: block !important;
  }

  #nav-mobile li {
    text-decoration: none;
  }

  #nav-mobile li:hover {
    text-decoration: none;
    font-weight: bolder;
    color: #c34b4c;
  }

  #divnavbarprincipalid {
    top: 0;
  }

  #navbarprincipal {
    background-color: white;
    color: #999999;
  }

  .nav-wrapper-eia-mb {
    padding: 0 0 0 0.4rem !important;
  }

  .hide-on-med-and-down-eia {
    display: none !important;
  }

  #brandlogoeiaid {
    color: #c34b4c;
    font-size: 1.7em;
  }

  #sidenav-trigger-eia-id {
    display: block;
  }

  .barra002title02-mb {
    display: none !important;
  }

  .barra002title01grande-mb {
    font-size: 3rem !important;
  }
  .barra002title01pequeno-mb {
    font-size: 1rem !important;
  }

  .middle-eliane-mb {
    width: 17rem !important;
  }
  .btn-eliane-mb {
    padding: 0.4rem 1rem !important;
    font: 0.8rem !important;
  }

  .btn-eliane02-mb {
    padding: 0.4rem 1rem !important;
    font: 0.8rem !important;
    float: none !important;
    display: initial !important;
  }

  .itembarra00402div02-mb {
    float: none !important;
    text-align: center;
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .itembarra00402-mb {
    float: none !important;
    text-align: center;
    font-size: 0.8em !important;
  }
  .imgcheckbarra004-mb {
    float: none !important;
  }

  .itembarra00402div01-mb {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  .barra005div-esq-mb {
    float: none !important;
    width: 100% !important;
    display: inline-block !important;
  }

  .barra005div-direi-mb {
    float: none !important;
    width: 100% !important;
    display: inline-block !important;
  }

  .itembarra005-mb {
    font-size: small;
  }

  .barra006-mb {
    padding: 1em 1em 2em 1em !important;
  }

  .barra006depoimento-mb {
    color: #fff !important;
  }

  .barra005 {
    padding: 1.5em 0.5em 1.5em 0.5em !important;
  }
  .barra007-mb {
    padding: 1em 0 1em 0 !important;
  }

  .barra007title-mb {
    font-size: large;
  }

  .barra007div01-mb {
    width: 100% !important;
    text-align: center !important;
    display: block;
    float: none !important;
  }

  .barra007div02-mb {
    width: 100% !important;
    float: none !important;
    text-align: center !important;
  }

  .barra008-mb {
    padding: 1.5em 0 1.5em 0 !important;
  }
  .barra008div01-mb {
    width: 70% !important;
    float: none !important;
    display: inline-block !important;
    padding-bottom: 1em;
    padding-left: 0 !important;
  }
  .barra008div02-mb {
    padding-left: 0 !important;
    display: inline-block !important;
    width: 70% !important;
    float: none !important;
    border-top: 1px solid #000;
    border-left: none !important;
    padding-top: 1em;
  }
  .barra008text01-mb {
    font-size: small !important;
  }
}

@media screen and (min-width: 500px) and (max-width: 1000px) {
  #sidenav-trigger-eia-id {
    display: block;
  }

  .hide-on-med-and-down-eia {
    display: none !important;
  }

  #nav-icon1 {
    display: block !important;
  }

  #nav-icon1 span {
    background: #fff !important;
  }

  #myLinks-eia {
    background-color: transparent !important;
  }

  #myLinks-eia a {
    color: #fff;
  }
  .barra002title02-mb {
    display: none !important;
  }

  .barra002title01grande-mb {
    font-size: 3.5rem !important;
  }
  .barra002title01pequeno-mb {
    font-size: 1rem !important;
  }
  .itembarra00402div02-mb {
    float: none !important;
    text-align: center;
  }

  .itembarra00402-mb {
    float: none !important;
    text-align: center;
    font-size: 1em !important;
  }
  .itembarra00402div02-mb {
    float: none !important;
    width: 100% !important;
    text-align: center;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .imgcheckbarra004-mb {
    float: none !important;
  }

  .itembarra00402div01-mb {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .barra005-mb {
    padding: 1.5em !important;
  }

  .barra005div-esq-mb {
    float: none !important;
    width: 100% !important;
    display: inline-block !important;
  }

  .barra005div-direi-mb {
    float: none !important;
    width: 100% !important;
    display: inline-block !important;
  }
  .itembarra005-mb {
    font-size: medium;
  }

  .barra006-mb {
    padding: 1em 1em 2em 1em !important;
  }
  .barra007-mb {
    padding: 1rem 1.3rem 1rem 1.3rem !important;
  }

  .barra008-mb {
    padding: 1.5em 1.5em 1.5em 1.5em !important;
  }

  .barra008div01-mb {
    padding-left: 0 !important;
    width: 100%;
  }
  .barra008div02-mb {
    padding-left: 1em !important;
    width: 100%;
    text-align: center;
  }
  .barra008text01-mb {
    font-size: small !important;
  }

  .btn-eliane02-mb {
    padding: 0.5rem !important;
    font: 0.9rem !important;
    width: 15rem !important;
    float: right;
  }
  .barra007title-mb {
    font-size: 1.2rem !important;
    font-weight: bold;
  }
}

.navbarprincipal {
  display: flex;
  position: absolute;
  top: 2.2em;
  width: 100%;
}

.nav-eia {
  color: #fff;
  background-color: transparent;
  width: 100%;
  height: 56px;
  line-height: 56px;
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  visibility: visible;
  border: none;
}

.nav-wrapper-eia {
  position: relative;
  height: 100%;
  padding: 0 3rem 0 3rem;
}

.material-icons-eia {
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga";
  color: #999999;
  display: block;
  font-size: 24px;
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  letter-spacing: normal;
  text-transform: none;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}

.brand-logo-eia {
  position: absolute;
  color: #fff;
  display: inline-block;
  font-size: 2.1rem;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

.brand-logo-eia:hover {
  text-decoration: none;
}

.setorimagem {
  background-position: center center;
  height: 16em;
  min-height: 10em;
  max-height: 23em;
}

.sidenav-trigger-eia {
  float: right;
  position: relative;
  z-index: 1;
  height: 56px;
  margin: 0 20px;
  display: none;
}

.setorimagem.loaded {
  opacity: 1;
}
.barra003 {
  background-color: #f3f3f3;
  position: inherit;
  width: 100%;
  padding: 2rem 1rem 6rem 1rem;
  text-align: center;
}

.barra004-cabecalho {
  font-weight: bold;
  font-size: 1.8rem;
}

.texto003 {
  font-family: "Open Sans";
  font-style: normal;
  color: #444444;
  font-size: 0.8em;
}
/* */
.barra00402 {
  padding-top: 25px !important;
  padding-bottom: 8rem !important;
  background-image: url(http://mfdsgn.com/mfd1/wp-content/uploads/2017/10/progress-bars-parallax-1.jpg?id=27640) !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  text-align: center;
}
.barra00402title {
  font-size: 30px;
  text-align: center;
  font-family: Open Sans;
  font-weight: 600;
  font-style: normal;
  margin: 0 0 0.1px;
  color: #fff;
}

.barra00403title {
  font-size: 30px;
  text-align: center;
  font-family: Open Sans;
  font-weight: 600;
  font-style: normal;
  margin: 0 0 0.1px;
  color: #000;
}

.barrinhabranca {
  width: 5em;
  height: 0.2em;
  background-color: #fff;
  display: inline-block;
  margin-top: 0.1em;
  z-index: 2;
}

.barrinhavermelha {
  width: 5em;
  height: 0.2em;
  background-color: #c34b4c;
  display: inline-block;
  margin-top: 0.1em;
  z-index: 2;
}

.itembarra00402div01 {
  display: inline-block;
  margin-top: 1rem;
  padding-right: 2em;
  padding-left: 2em;
}
.imgcheckbarra004 {
  float: left;
  width: 2rem;
}
.itembarra00402div02 {
  float: left;
  width: 50%;
  padding: 5px;
  min-width: 4em;
  text-align: center;
  margin-bottom: 3rem;
}
.itembarra00402 {
  margin-left: 2em;
  margin-bottom: 1em;
  margin-right: 2em;
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
  color: #fff;
  float: none;
}

.barra005 {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  padding: 1.5em 2em 8rem 2em;
  display: flow-root;
}

.barra005div-esq {
  float: left;
  width: 30%;
}

.barra005div-direi {
  float: left;
  width: 70%;
}

.itembarra005 {
  margin-left: 2em;
  margin-bottom: 1em;
  margin-right: 2em;
  font-family: "Open Sans", sans-serif;
  font-size: large;
  margin-bottom: 4rem;
}

.barra006 {
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  text-align: center;
  width: 100%;
  padding: 1em 2em 2em 2em;
}

.carousel-eliane {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 430px;
  perspective: 500px;
  transform-style: preserve-3d;
  transform-origin: 0% 50%;
}

.container-eliane {
  margin: 0 auto;
  width: 100%;
}

.barra006depoimento {
  font-style: italic;
  font-size: medium;
  color: #fff;
}

.barra006depoimentosaibamais {
  font-style: italic;
  font-size: medium;
  color: #fff;
  float: right;
}

.barra006depoimentosaibamais:hover {
  font-weight: bolder;
  text-decoration: none;
}

.barra006divdepoim {
  display: table-cell;
  vertical-align: middle;
  height: 20em;
  text-align: center;
  max-width: 40em;
  margin: 0 auto;
}

.barra007 {
  background-color: #222222;
  min-height: 4em;
  padding: 1em 4em 1em 4em;
}

.barra007div01 {
  margin: auto;
  width: 45%;
  text-align: left;
  float: left;
}

.barra007div02 {
  margin: auto;
  width: 45%;
  text-align: right;
  float: right;
}

.barra007title {
  color: #fff;
}

.barra008 {
  background-color: #f3f3f3;
  margin: 0 1rem 0 auto;
  width: 100%;
  text-align: center;
  padding: 1.5em 2em 8rem 2em;
  display: flow-root;
}

.barra008div01 {
  float: left;
  width: 50%;
  padding-left: 5em;
  text-align: left;
  min-width: 50%;
}
.barra008div02 {
  float: left;
  width: 50%;
  padding-left: 5em;
  text-align: left;
  border-left: 1px solid #000;
  min-width: 50%;
}

.barra008text01 {
  font-size: medium;
}

.barra009 {
  background-color: #222222;
  min-height: 4em;
  width: 100%;
  text-align: right;
  padding: 2.3rem 1.3rem;
}

.barra009div02 {
  margin-bottom: auto;
  width: 70%;
  text-align: right;
  float: right;
}

.barra009title {
  color: #fff;
  font-style: italic;
  font-family: "Roboto";
  font-size: small;
  margin: auto;
}

.btn-eliane {
  position: relative;
  display: block;
  color: #c34b4c;
  font-size: 1rem;
  font-family: "Open Sans";
  font-weight: bold;
  text-decoration: none;
  border: 2px solid #ff7675;
  padding: 14px 60px;
  text-transform: uppercase;
  overflow: hidden;
  transition: 1s all ease;
}
.btn-eliane:hover {
  color: #fff;
}
.btn-eliane::before {
  background: #ff7675;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: all 0.6s ease;
}

.btn1-eliane::before {
  width: 0%;
  height: 100%;
}

.btn1-eliane:hover::before {
  width: 100%;
}

.middle-eliane {
  position: relative;
  left: 50%;
  right: 50%;
  width: 25rem;
  transform: translate(-50%, -50%);
  margin-top: 3rem;
}

.btn-eliane02 {
  position: relative;
  display: block;
  color: #fff;
  font-size: 1rem;
  font-family: "Open Sans";
  font-weight: bold;
  text-decoration: none;
  border: 2px solid #fff;
  padding: 0.7rem;
  text-transform: uppercase;
  overflow: hidden;
  transition: 1s all ease;
  text-align: center;
  width: 22rem;
  float: right;
}
.btn-eliane02:hover {
  color: #222222;
  background-color: #fff;
}
.btn-eliane02::before {
  background: #fff;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: all 0.6s ease;
}

.btn1-eliane02::before {
  width: 0%;
  height: 100%;
}

.btn1-eliane02:hover::before {
  width: 100%;
}

#myLinks-eia {
  height: 0;
  overflow: hidden;
  background-color: #fff;
  position: relative;
  transition: 0.5s;
  color: #222222;
  z-index: 1;
}

.itensMenuMobile {
  color: #222222;
  width: 100%;
  text-decoration: none;
  padding: 0 0 0 40px;
  display: block;
  background-color: transparent;
}

.itensMenuMobileli {
  cursor: pointer;
  width: 100%;
  vertical-align: middle;
}

.itensMenuMobileli:hover {
  background-color: #ddd;
  color: black;
}

#nav-icon1 {
  width: 3rem;
  height: 45px;
  position: relative;
  margin: 0.5rem 0 0 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  float: right;
  display: none;
}

#nav-icon1 span {
  display: block;
  height: 5px;
  width: 60%;
  background: #c34b4c;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  margin: 0.4rem 0;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 18px;
}

#nav-icon1 span:nth-child(3) {
  top: 36px;
}

#nav-icon1.open span:nth-child(1) {
  top: 18px;
  position: absolute;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  margin: 0;
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
  position: absolute;
  margin: 0;
}

#nav-icon1.open span:nth-child(3) {
  top: 18px;
  position: absolute;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
  margin: 0;
}
